.Player {
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
}

.Player__name {
    padding: 0 10px;
    display: flex;
    font: bold 18px/22px Verdana;
    color: #116600;
}

.Player__score {
    padding: 0 10px 0 0;
    font: bold 14px/22px Verdana;
    color: #116600;
}

.Player__button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #116600;
    border: none;
    font: bold 12px/16px Verdana;
    color: #afff9e;
}

.Player__button:hover {
    cursor: pointer;
}